/********************** CSS GENERAL **********************/

*
{
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body
{
    /* structure */
    margin: 0 auto;
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items:center;

    /* presentation */
    background-color: #8A0808;
    font-family: 'Open Sans', sans-serif;
}

canvas
{
    /* presentation */
    border: 10px solid gold;
    background-color: #ffffff;
}